.productCard{
    position: relative;
    background-color: #f9f7f6;
    margin: 2rem 3rem;
    max-width: 28rem;
    box-shadow: 0 0.5rem 2rem rgba(0,0,0,0.2);
    overflow: hidden;
    z-index: 2;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.productCardImg{
    width: 100%;
    /* clip-path: polygon(0 0, 0 90%, 100% 90%, 100% 0); */
    /* object-fit: cover; */
} 

.productCardTitle{
    position: absolute;
    left: 50%;
    bottom: 30%;
    z-index: 1;
    font-size: 1.5rem;
    background-color: #101d2c;
    color: white;
    font-weight: bold;
    transform: translateX(-50%) translateY(50%);
    padding: 1.25rem;
    width: 80%;
}

.productCardAuthor{
    margin-top: 3rem;
    font-size: 1.5rem;
    padding: 0.8rem 0;
}

.productCardPrice{
    font-size: 1.5rem;
    padding: 0.8rem 0;
}

.wishListIcon{
    position: absolute;
    top: -0.6rem;
    right: -0.6rem;
    height: 4rem;
    width: 4rem;
    background-color: #fff;
    display: flex;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
}

.wishListAddIcon{
    height: 2rem;
    fill: #777;
}

.presentWishlist{
    fill: red;
}

.removeCartItem{
    z-index: 3;
    background-color: #777;
}

.addCartItem{
    z-index: 3;
    background-color: #B28451;
}