.productCard{
    position: relative;
    margin: 2rem 3rem;
    max-width: 28rem;
    box-shadow: 0 0.5rem 2rem rgba(0,0,0,0.2);
    overflow: hidden;
    z-index: 2;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.productCardImgDiv{
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.productCardImg{
    width: 100%;
    
    /* clip-path: polygon(0 0, 0 90%, 100% 90%, 100% 0); */
    /* object-fit: cover; */
} 

.productCardContent{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    gap: 0
}

.productCardContent > span > .dbtn{
    margin-top: 0;
}

.productCardTitle{
    position: absolute;
    left: 50%;
    bottom: 32%;
    z-index: 1;
    font-size: 1.5rem;
    background-color: var(--color-primary);
    color: white;
    font-weight: bold;
    transform: translateX(-50%) translateY(50%);
    padding: 1.25rem;
    width: 80%;
}

.productCardAuthor{
    margin-top: 3rem;
    font-size: 1.5rem;
    padding: 0.8rem 0;
}

.productCardPrice{
    font-size: 1.5rem;
    padding: 0.8rem 0;
}

.productCardRating{
    text-align: center;
    font-size: 1.5rem;
    padding-top: 0.8rem;
}

.productCardRating > span{
    background-color: rgb(var(--color-secondary));
    padding: 2px 7px;
    color: rgb(var(--color-white));
    border-radius: 100rem;
}

.wishListIcon{
    position: absolute;
    top: -0.6rem;
    right: -0.6rem;
    height: 4rem;
    width: 4rem;
    background-color: #fff;
    display: flex;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
}

.wishListAddIcon{
    height: 2rem;
    fill: #777;
    transition:  all 0.1s;
}

.wishListAddIcon:hover{
    fill: red;
}

.presentWishlist{
    fill: red;
}

.presentWishlist:hover{
    fill: #777;
}

.removeCartItem{
    z-index: 3;
    background-color: #777;
}

.addCartItem{
    z-index: 3;
    background-color: #B28451;
}

i{
    position: relative;
}