.checkoutCard{
    display: flex;
    max-width: 60vw;
    flex-direction: column;
    align-items: flex-start;
    background-color: #fff;
    padding: 1rem 2rem 2rem 2rem;
    margin: 0 auto;
}

@media only screen and (max-width: 900px) {
    .checkoutCard{
        max-width: 100%;
        margin: 0;
    }
}

.checkoutCard > div{
    margin-top: 2rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    border-top: 2px solid #777;
    padding-top: 1rem;
}

.checkoutTitleDiv, .checkoutTotalDiv{
    text-transform: uppercase;
    font-weight: bold;
    font-size: 1.5rem;
}

.checkoutCard .checkoutTitleDiv{
    border: none;
    padding: 0;
}

.checkoutButton{
    background-color: #B28451;
}

.checkoutHeading3{
    margin-top: 2rem;
}

.checkoutTitle{
    display: flex;
    justify-content: center;
}

.checkoutHeading2{
    text-align: left;
    font-size: 3rem;
    text-transform: uppercase;
    letter-spacing: 0.3rem;
    margin-right: -0.3rem;
    margin-bottom: 1rem;
}

@media only screen and (max-width: 768px){
    .checkoutHeading2{
        text-align: center;
    }
}

.checkoutHeading2 .success{
    color: rgb(34, 197, 94);
}