.dbtn, .dbtn:link, .dbtn:visited{
    width: 100%;
    color: white;
    border: none;
    bottom: 0;
    margin-top: 1rem;
    padding: 1.5rem 0;
    font-size: 1.5rem;
    font-weight: bold;
    transition: all 0.3s;
    cursor: pointer;
    
}

.dbtn:hover{
    transform: translateY(-3px);
    box-shadow: 0 0.5rem 1rem rgba(0,0,0,0.3);
    
}

.dbtn:active{
    transform: translateY(0);
    box-shadow: none;
}