.productPage{
    display: flex;
    justify-content: flex-start;
    gap: 0;
    width: 100%;
    flex: 1;
}


.productContents{
    flex: 1;
    padding: 3rem 5rem;
}

@media only screen and (max-width: 768px) {
    .productContents{
        flex: 1; 
        padding: 0;
    }
 }

.heading2{
    text-align: left;
    font-size: 3rem;
    text-transform: uppercase;
    max-width: 100%;
    letter-spacing: 0.3rem;
    margin-right: -0.3rem;
  }

  @media only screen and (max-width: 768px) {
    .heading2{
        text-align: center;
        padding-top: 1rem;
    }
 }

.productList{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

