@import url('../../Layouts/vars.css');

.homeMain{
    background-image: linear-gradient(rgba(var(--color-primary), 0.58), rgba(var(--color-primary), 0.58)), url("./images/janko-ferlic-sfL_QOnmy00-unsplash.jpg");
    min-height: 90vh;
    background-size: cover;
    position: relative;
    flex: 1;
    width: 100%;
}

.homeIntro{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    color: rgb(var(--color-white));
    
}

.homeIntroMain{
    font-size: 7rem;
    text-transform: uppercase;
    letter-spacing: 5rem;
    display: inline-block;
    margin-right: -5rem;
}
    
@media only screen and (max-width: 600px) {
    .homeIntroMain{
        letter-spacing: 2rem;
        margin-right: -2rem;
    }
}


.homeIntroSub{
    font-size: 3rem;
    text-transform: uppercase;
    letter-spacing: 0.8rem;
    display: inline-block;
    font-weight: bold;
    width: 80vw;
}

@media only screen and (max-width: 600px) {
    .homeIntroSub{
        font-size: 2rem;
    }
  }

.homeDetails{
    display: flex;
    min-height: 90vh;
    justify-content: space-between;
    flex: 1;
    width: 100%;
}

@media only screen and (max-width: 768px) {
    .homeDetails{
        flex-direction: column; 
    }
}

.productDetailsLeft{
    background-image: linear-gradient(rgba(var(--color-primary), 0.5), rgba(var(--color-primary), 0.5)),url("./images/emil-widlund-xrbbXIXAWY0-unsplash.jpg");
    background-size: cover;
    flex: 0 0 50%;
    margin: 2rem 1rem 2rem 2rem;
    padding: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media only screen and (max-width: 768px) {
    .productDetailsLeft{
        margin: 2rem 2rem 1rem 2rem;
        flex: 1;
        background-position: center;
    }
}

.productDetailsRight{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex: 1;
    overflow: hidden;
}

.detailBox{
    background-color: rgba(var(--color-white), 0.4);
    display: flex;
    width: 60%;
    padding: 2rem;
    left: 0;
    flex-direction: column;
    margin: 0 auto;
}

@media only screen and (max-width: 1024px) {
    .detailBox{
        width: auto;
    }
}

.detailBox > *{
    margin: 1rem;
}


.wishlistCard{
    background-image: linear-gradient(rgba(var(--color-primary), 0.2), rgba(var(--color-primary), 0.2)),url("./images/jaredd-craig-HH4WBGNyltc-unsplash.jpg");
    background-size: cover;
    background-position: 20% 30%;
    flex: 0 0 50%;
    margin: 2rem 2rem 1rem 1rem;
    padding: 2rem;
}

@media only screen and (max-width: 768px) {
    .wishlistCard{
        margin: 1rem 2rem 1rem 2rem; 
        flex: 1;
    }
}

.userLoginCard{
    background-image: linear-gradient(rgba(var(--color-primary), 0.2), rgba(var(--color-primary), 0.2)),url("./images/thought-catalog-OJZB0VUQKKc-unsplash.jpg");
    background-size: cover;
    background-position: 50% 60%;
    flex: 1;
    margin: 1rem 2rem 2rem 1rem ;
    padding: 2rem;
}

@media only screen and (max-width: 768px) {
    .userLoginCard{
        margin: 1rem 2rem 2rem 2rem; 
        flex: 1;
    }
}

.productDetailsTitle{
    color: rgb(var(--color-black));
    font-size: 2rem;
    width: 100%;
    font-weight: bold;
    text-transform: uppercase;
}

@media only screen and (max-width: 1024px) {
    .productDetailsTitle{
        width: auto;
    }
}

.productDetailDesc{
    font-family: 'Assistant';
    background-color: rgba(var(--color-primary),0.6);
    color: rgb(var(--color-white));
    font-weight: 400;
    font-size: 2rem;
    padding: 1rem;
}

.productDetailButton, .productDetailButton:active{
    font-size: 1.5rem;
    font-weight: 300;
    text-transform: uppercase;
    
    border: none;
    background-color: rgb(var(--color-primary));
    font-size: 2rem;
    color: rgb(var(--color-white));
    cursor: pointer;
    padding: 1.8rem 3rem;
    letter-spacing: 0.1rem;
    transition: all 0.3s;
    overflow: hidden;
    position: relative;
}

@media only screen and (max-width: 1024px) {
    .productDetailButton{
        letter-spacing: 0;
    }
}

.productDetailButton:hover{
    transform: translateY(-3px);
    box-shadow: 0 0.5rem 1rem rgba(var(--color-black),0.3);
}

.homeCategorySection{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem;
    flex-direction: column;
    background-image: linear-gradient(rgba(var(--color-primary), 0.6), rgba(var(--color-primary), 0.6)),url("./images/istockphoto-1200326335-612x612.jpg");
    background-size: cover;
    background-position: center;
    margin-bottom: 2rem;
    min-height: 90rem;
    width: 100%;
}


.homeCategoryTitle{
    font-size: 3rem;
    text-transform: uppercase;
    letter-spacing: 0.8rem;
    display: inline-block;
    font-weight: bold;
    width: 80vw;
    color: rgb(var(--color-white));
    margin-bottom: 2rem;
}

@media only screen and (max-width: 600px) {
    .homeCategoryTitle{
        font-size: 2rem;
    }
  }

.homeCategoryList{
    display: flex;
    justify-content: space-evenly;
    gap: 4rem;
    flex-wrap: wrap;
    list-style: none;
}

.homeCategoryItem{
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.categoryDetailBox{
    background-color: rgba(var(--color-white), 0.4);
    display: flex;
    padding: 2rem;
    left: 0;
    flex-direction: column;
    margin: 0 auto;
    width: 30rem;
}

/* @media only screen and (max-width: 1024px) {
    .categoryDetailBox{
        width: auto;
    }
} */

.categoryDetailDesc{
    font-size: 1.7rem;
    font-weight: 500;
    color: rgb(var(--color-white));
    margin-bottom: 1rem;
    
    min-height: 13rem;
}